.values-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.values-title {
  font-size: 16px;
  color: #9c9da1;
  align-self: flex-end;
}

.value {
  font-size: 26px;
  align-self: center;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .data {
    flex-wrap: wrap;
  }
  
  .values-title{
    font-size: 10px;
  }
  .value{
    font-size: 20px;
  }
}
@media screen and (max-width: 315px) {
  .data {
    justify-content: center;
  }
  .values-container {
    margin-right: 10px;
  }
}