.graph-value {
  margin-top: 10px;
  color: black;
}
.img-graph {
  width: 100%;
}
.graph-container {
  background-color: #ffffff;
}
.graph-info-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.title-container {
  color: #9c9da1;
  font-size: 15px;
}

.graph-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoom {
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}
@media (max-width: 900px) {
  .img-graph {
    width: 50%;
    height: 50%;
    display: flex;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .graph-info-container {
    flex-wrap: wrap;
  }
}