body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.428;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0f0b33;
  color: #ffffff;
  padding: 13px 15px;
}

.header-container {
  background-color: #ffffff;
}

.main-container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 176px;
  padding-right: 176px;
  display: flex;
  flex-wrap: wrap;
}

.breadcumb {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 176px;
  font-size: 10px;
  color: #9c9da1;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border-radius: 50%;
}

.data {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.divider {
  width: 2px;
  height: 60%;
  background-color: #eeeeee;
  margin-left: 42px;
  align-self: center;
  margin-right: 13px;
}
.divider:last-child {
 display: none
}

.container-datavalue {
  display: flex;
  flex-direction: column;
}

.principal-title {
  font-weight: 500;
}

.subtitle {
  font-size: 16px;
  color: #9c9da1;
  margin-top: 2px;
}

@media screen and (max-width: 991px) {
  .data {
    margin-top: 40px;
    justify-content: space-between;
    flex-grow: 1;
  }
}
@media screen and (max-width: 1196px) {
  .data {
    margin-top: 40px;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media screen and (max-width: 400px) {
  .data {
    flex-wrap: wrap;
  }
  .graph-info-container {
    flex-wrap: wrap;
  }
  .values-title{
    font-size: 10px;
  }
  .value{
    font-size: 20px;
  }
}
@media screen and (max-width: 315px) {
  .data {
    justify-content: center;
  }
  .values-container {
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    padding-left: 0px;
    padding-right: 10px;
  }
  .breadcumb {
    padding-left: 5px;
  }
}
